<script type="text/javascript">
{literal}
function checkConfirm(s){
  return confirm(s);
}
{/literal}
</script>
<div class="query" style="margin:8px;width: 829px \9;">
  <table style="width:100%;table-layout:fixed;">
    <tr style="font-weight:bold;">
      <th style="width:8%;height:44px;background:#E9893A;">图标</th>
      <th style="width:7%;background:#E9893A;">优先级</th>
      <th style="width:9%;background:#E9893A;">关联医生</th>
      <th style="width:15%;background:#E9893A;">贴吧名</th>
      <th style="width:44%;background:#E9893A;">描述</th>
      <th style="width:17%;background:#E9893A;">操作</th>
    </tr>
    {foreach from=$ba_rows item=row name=r}
      <tr {if $smarty.foreach.r.index % 2 eq 1}class="odd"{/if}>
        <td style="height:64px;padding:2px;"><a href="view/bing_you_ba.php?id={$row.id}"><img src="{$row.icon_url}" height="60" width="60"></img></a></td>
        <td>{$row.priority}</td>
        <td>
          <select style="width:100%;" readonly>
          {foreach from=$row.rel_doctors item=doctor}
          <option value="">{$doctor}</option>
          {/foreach}
          </select>
        </td>
        {if $row.open eq 1}
          <td><a href="view/bing_you_ba.php?id={$row.id}">{$row.name}</a></td>
          <td>{$row.ba_desc}</td>
          <td><a href="view/bing_you_ba.php?id={$row.id}">查看</a>｜<a href="view/bing_you_ba_opt.php?id={$row.id}&opt=close" onclick="return checkConfirm('确认要关闭吗？')">关闭</a></td>
        {else}
          <td><i><a href="view/bing_you_ba.php?id={$row.id}">{$row.name}</a></i></td>
          <td><i>{$row.ba_desc}</i></td>
          <td><a href="view/bing_you_ba.php?id={$row.id}">查看</a>｜<a href="view/bing_you_ba_opt.php?id={$row.id}&opt=open" onclick="return checkConfirm('确认要打开吗？')">开放</a>｜<a href="view/bing_you_ba_opt.php?id={$row.id}&opt=del" onclick="return checkConfirm('确认要删除吗>？')">删除</a></td>
        {/if}
      </tr>
    {/foreach}
  </table>
  <div style="margin-top:5px">
    <a style="display:inline;margin-left:10px;float:left;" href="view/add_bing_you_ba.php">添加</a>
    <div style="float:right;">
      <p style="display:inline">共{if !isset($total_num)}0{else}{$total_num}{/if}个</p>
      {if !isset($page) || $page eq 1}上一页{else}<a href="view/bing_you_ba_list.php?p={$page-1}">上一页</a>{/if}
      {if !isset($page) || $page ge $pages}下一页{else}<a href="view/bing_you_ba_list.php?p={$page+1}">下一页</a>{/if}
    </div>
  </div>
</div>
