<div id='content-left'>
  <div class="menu">
    <div class="menu_g">
      <div class="menu_h">{$s_menu_func_g}</div>
      <div class="menu_m"><a class="menu_a" href="view/doctor_entering.php">{$s_doctor_lu_ru}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/doctor_query.php">{$s_doctor_cha_xun}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/doctor_query.php">{$s_doctor_cha_xun}</a></div>
    </div>
    <div class="menu_g">
      <div class="menu_h">{$s_menu_setting_g}</div>
      <div class="menu_m"><a class="menu_a" href="view/my_settings.php">{$s_xi_tong_she_zhi}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/my_settings.php">{$s_ge_ren_she_zhi}</a></div>
    </div>
  </div>
</div>
