<div id='content-left'>
  <div class="menu">
    <div class="menu_g">
      <div class="menu_h">{$s_menu_func_g}</div>
      <div class="menu_m"><a class="menu_a" href="view/doctor_entering.php">{$s_doctor_lu_ru}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/doctor_query.php">{$s_doctor_cha_xun}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/my_doctor.php">{$s_my_doctor}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/bing_you_ba_list.php">{$s_bing_you_ba}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/bing_you_ba_banner_list.php">{$s_bing_you_ba_banner}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/article_banner_list.php">{$s_doctor_article_banner}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/ol_order_list.php">{$s_ol_order_list}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/tel_order_list.php">{$s_tel_order_list}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/feedback_list.php">{$s_feedback}</a></div>
    </div>
    <div class="menu_g">
      <div class="menu_h">{$s_menu_setting_g}</div>
      <div class="menu_m"><a class="menu_a" href="view/my_settings.php">{$s_xi_tong_she_zhi}</a></div>
      <div class="menu_m"><a class="menu_a" href="view/my_settings.php">{$s_ge_ren_she_zhi}</a></div>
    </div>
  </div>
</div>
