<div style="margin:35px 130px 0 130px;">
  <div>
    <p style="font-size:23px;display:inline">{$doctor_info_title}</p><p style="display:inline"> - {$id}</p>
    {if isset($master_name)}
    <p style="padding-left:15px;font-size:16px;display:inline">所属专家--<a href='view/doctor_modify.php?id={$master_id}'><font color="#FF0000">{$master_name}</font></a></p>
    {/if}
    {if $new_one ne 1}
    <p style="font-size:16px;line-height:38px;float:right;">录入时间：{$c_time|date_format:"%Y-%m-%d %H:%M:%S"}</p>
    {/if}
    <hr style="height:2px;border:0;background-color:#FF9900;"/>
  </div>
  <div class="input_form">
    <form action={if $new_one eq 1}"view/doctor_entering.php"{else}"view/doctor_modify.php"{/if} method="post" enctype="multipart/form-data" onsubmit="return submitDoctorValidate()">
      <table>
        <tr><td><input type='hidden' name='master_id' value='{if isset($master_id)}{$master_id}{/if}'/></td></tr>
        <tr><td><input type='hidden' name='id' value='{if isset($id)}{$id}{/if}'/></td></tr>
        <tr>
          <td class="form_label">姓名</td>
          <td><input style="width:100px;padding-left:2px;" id='name' type='text' name='name' value='{if isset($name)}{$name}{/if}' onchange='checkDoctorName(this)'/><p class='must_p'>*</p></td>
        </tr>
        <tr>
          <td class="form_label">手机</td>
          <td><input style="width:150px;padding-left:2px;" id='phone_num' type='text' name='phone_num' value='{if isset($phone_num)}{$phone_num}{/if}' onchange='checkPhoneNum(this)'/><p class='must_p'>*</p></td>
        </tr>
        <tr><td class="form_label">性别</td>
          <td>
          <select style="width:60px;" id='sex' name='sex'>
          <option value="" >选择</option>
          <option value="0" {if isset($sex) && $sex eq 0} selected="selected"{/if}>女</option>
          <option value="1" {if isset($sex) && $sex eq 1} selected="selected"{/if}>男</option>
          </select><p class='must_p'>*</p>
          </td>
        </tr>
      </table>
      <hr style="margin-top:20px;height:1px;border:0;background-color:#FF9900;"/>
      <table>
        <tr><td class="form_label">医生类别</td>
          <td>
          <select style="display:inline;width:100px;" id='classify' name='classify'>
          <option value=""  >--医生类别--</option>
         {if isset($master_name)}
          <option value="1" {if isset($classify) && $classify eq 1} selected="selected"{/if}>普通医生</option>
         {else}
          <option value="2" {if isset($classify) && $classify eq 2} selected="selected"{/if}>医学泰斗</option>
         {/if}
          </select>
          <p class='must_p' style='font-size:14px;'>* &nbsp;(内部定义类别)</p></td>
        </tr>
        <tr>
          <td class="form_label">所属医院</td>
          <td><input style="width:180px;padding-left:2px;float:left;" id='hospital' type='text' name='hospital' value='{if isset($hospital)}{$hospital|escape}{/if}' onchange='checkHospital(this)'/><p class='must_p'>*</p>
          <select style="width:95px;margin-left:10px;display:inline;" id=adm_title' name='adm_title'>
          <option value="" >--行政职称--</option>
          <option value="1" {if isset($adm_title) && $adm_title eq 1} selected="selected"{/if}>院长</option>
          <option value="2" {if isset($adm_title) && $adm_title eq 2} selected="selected"{/if}>副院长</option>
          </td>
        </tr>
        <tr><td class="form_label">科室</td>
          <td>
          <select style="display:inline;float:left;width:100px;" id='ke_shi' name='ke_shi'>
          <option value=""  >--选择科室-</option>
          <option value="1010" {if isset($ke_shi) && $ke_shi eq 1010} selected="selected"{/if}>心血管内科</option>
          <option value="1011" {if isset($ke_shi) && $ke_shi eq 1011} selected="selected"{/if}>神经内科</option>
          <option value="1012" {if isset($ke_shi) && $ke_shi eq 1012} selected="selected"{/if}>消化内科</option>
          <option value="1013" {if isset($ke_shi) && $ke_shi eq 1013} selected="selected"{/if}>内分泌科</option>
          <option value="1014" {if isset($ke_shi) && $ke_shi eq 1014} selected="selected"{/if}>免疫科</option>
          <option value="1015" {if isset($ke_shi) && $ke_shi eq 1015} selected="selected"{/if}>呼吸科</option>
          <option value="1016" {if isset($ke_shi) && $ke_shi eq 1016} selected="selected"{/if}>肾病内科</option>
          <option value="1017" {if isset($ke_shi) && $ke_shi eq 1017} selected="selected"{/if}>血液科</option>
          <option value="1018" {if isset($ke_shi) && $ke_shi eq 1018} selected="selected"{/if}>感染内科</option>
          <option value="1019" {if isset($ke_shi) && $ke_shi eq 1019} selected="selected"{/if}>过敏反应科</option>
          <option value="1020" {if isset($ke_shi) && $ke_shi eq 1020} selected="selected"{/if}>老年病科</option>
          <option value="1021" {if isset($ke_shi) && $ke_shi eq 1021} selected="selected"{/if}>疼痛诊疗科</option>
          <option value="1022" {if isset($ke_shi) && $ke_shi eq 1022} selected="selected"{/if}>高压氧科</option>
          <option value="1023" {if isset($ke_shi) && $ke_shi eq 1023} selected="selected"{/if}>普通科</option>
          <option value="1110" {if isset($ke_shi) && $ke_shi eq 1110} selected="selected"{/if}>神经外科</option>
          <option value="1111" {if isset($ke_shi) && $ke_shi eq 1111} selected="selected"{/if}>心血管外科</option>
          <option value="1112" {if isset($ke_shi) && $ke_shi eq 1112} selected="selected"{/if}>腹部外科</option>
          <option value="1113" {if isset($ke_shi) && $ke_shi eq 1113} selected="selected"{/if}>胸外科</option>
          <option value="1114" {if isset($ke_shi) && $ke_shi eq 1114} selected="selected"{/if}>整形科</option>
          <option value="1115" {if isset($ke_shi) && $ke_shi eq 1115} selected="selected"{/if}>乳腺外科</option>
          <option value="1116" {if isset($ke_shi) && $ke_shi eq 1116} selected="selected"{/if}>泌尿外科</option>
          <option value="1117" {if isset($ke_shi) && $ke_shi eq 1117} selected="selected"{/if}>肝胆外科</option>
          <option value="1118" {if isset($ke_shi) && $ke_shi eq 1118} selected="selected"{/if}>肛肠科</option>
          <option value="1119" {if isset($ke_shi) && $ke_shi eq 1119} selected="selected"{/if}>血管外科</option>
          <option value="1120" {if isset($ke_shi) && $ke_shi eq 1120} selected="selected"{/if}>功能神经外科</option>
          <option value="1121" {if isset($ke_shi) && $ke_shi eq 1121} selected="selected"{/if}>微创外科</option>
          <option value="1122" {if isset($ke_shi) && $ke_shi eq 1122} selected="selected"{/if}>普外科</option>
          <option value="1210" {if isset($ke_shi) && $ke_shi eq 1210} selected="selected"{/if}>妇科</option>
          <option value="1211" {if isset($ke_shi) && $ke_shi eq 1211} selected="selected"{/if}>产科</option>
          <option value="1212" {if isset($ke_shi) && $ke_shi eq 1212} selected="selected"{/if}>妇科内分泌</option>
          <option value="1213" {if isset($ke_shi) && $ke_shi eq 1213} selected="selected"{/if}>妇泌尿科</option>
          <option value="1214" {if isset($ke_shi) && $ke_shi eq 1214} selected="selected"{/if}>产前诊断科</option>
          <option value="1215" {if isset($ke_shi) && $ke_shi eq 1215} selected="selected"{/if}>遗传咨询科</option>
          <option value="1216" {if isset($ke_shi) && $ke_shi eq 1216} selected="selected"{/if}>计划生育科</option>
          <option value="1217" {if isset($ke_shi) && $ke_shi eq 1217} selected="selected"{/if}>妇产科</option>
          <option value="1310" {if isset($ke_shi) && $ke_shi eq 1310} selected="selected"{/if}>生殖中心</option>
          <option value="1410" {if isset($ke_shi) && $ke_shi eq 1410} selected="selected"{/if}>儿科</option>
          <option value="1411" {if isset($ke_shi) && $ke_shi eq 1411} selected="selected"{/if}>新生儿科</option>
          <option value="1412" {if isset($ke_shi) && $ke_shi eq 1412} selected="selected"{/if}>小儿呼吸科</option>
          <option value="1413" {if isset($ke_shi) && $ke_shi eq 1413} selected="selected"{/if}>小儿消化科</option>
          <option value="1414" {if isset($ke_shi) && $ke_shi eq 1414} selected="selected"{/if}>小儿营养保健科</option>
          <option value="1415" {if isset($ke_shi) && $ke_shi eq 1415} selected="selected"{/if}>小儿神经内科</option>
          <option value="1416" {if isset($ke_shi) && $ke_shi eq 1416} selected="selected"{/if}>小儿心内科</option>
          <option value="1417" {if isset($ke_shi) && $ke_shi eq 1417} selected="selected"{/if}>小儿肾内科</option>
          <option value="1418" {if isset($ke_shi) && $ke_shi eq 1418} selected="selected"{/if}>小儿血液科</option>
          <option value="1419" {if isset($ke_shi) && $ke_shi eq 1419} selected="selected"{/if}>小儿感染科</option>
          <option value="1420" {if isset($ke_shi) && $ke_shi eq 1420} selected="selected"{/if}>小儿精神科</option>
          <option value="1421" {if isset($ke_shi) && $ke_shi eq 1421} selected="selected"{/if}>小儿妇科</option>
          <option value="1422" {if isset($ke_shi) && $ke_shi eq 1422} selected="selected"{/if}>小儿外科</option>
          <option value="1423" {if isset($ke_shi) && $ke_shi eq 1423} selected="selected"{/if}>小儿心外科</option>
          <option value="1424" {if isset($ke_shi) && $ke_shi eq 1424} selected="selected"{/if}>小儿胸外科</option>
          <option value="1425" {if isset($ke_shi) && $ke_shi eq 1425} selected="selected"{/if}>小儿骨科</option>
          <option value="1426" {if isset($ke_shi) && $ke_shi eq 1426} selected="selected"{/if}>小儿泌尿科</option>
          <option value="1427" {if isset($ke_shi) && $ke_shi eq 1427} selected="selected"{/if}>小儿神经外科</option>
          <option value="1428" {if isset($ke_shi) && $ke_shi eq 1428} selected="selected"{/if}>小儿整形科</option>
          <option value="1429" {if isset($ke_shi) && $ke_shi eq 1429} selected="selected"{/if}>小儿康复科</option>
          <option value="1430" {if isset($ke_shi) && $ke_shi eq 1430} selected="selected"{/if}>小儿急诊科</option>
          <option value="1510" {if isset($ke_shi) && $ke_shi eq 1510} selected="selected"{/if}>骨科</option>
          <option value="1511" {if isset($ke_shi) && $ke_shi eq 1511} selected="selected"{/if}>脊柱外科</option>
          <option value="1512" {if isset($ke_shi) && $ke_shi eq 1512} selected="selected"{/if}>手外科</option>
          <option value="1513" {if isset($ke_shi) && $ke_shi eq 1513} selected="selected"{/if}>创伤骨科</option>
          <option value="1514" {if isset($ke_shi) && $ke_shi eq 1514} selected="selected"{/if}>骨关节科</option>
          <option value="1515" {if isset($ke_shi) && $ke_shi eq 1515} selected="selected"{/if}>矫形骨科</option>
          <option value="1516" {if isset($ke_shi) && $ke_shi eq 1516} selected="selected"{/if}>骨肿瘤科</option>
          <option value="1517" {if isset($ke_shi) && $ke_shi eq 1517} selected="selected"{/if}>骨质疏松科</option>
          <option value="1518" {if isset($ke_shi) && $ke_shi eq 1518} selected="selected"{/if}>足踝外科</option>
          <option value="1519" {if isset($ke_shi) && $ke_shi eq 1519} selected="selected"{/if}>中西医结合正骨科</option>
          <option value="1610" {if isset($ke_shi) && $ke_shi eq 1610} selected="selected"{/if}>眼肌</option>
          <option value="1611" {if isset($ke_shi) && $ke_shi eq 1611} selected="selected"{/if}>眼科</option>
          <option value="1612" {if isset($ke_shi) && $ke_shi eq 1612} selected="selected"{/if}>小儿眼科</option>
          <option value="1613" {if isset($ke_shi) && $ke_shi eq 1613} selected="selected"{/if}>眼底</option>
          <option value="1614" {if isset($ke_shi) && $ke_shi eq 1614} selected="selected"{/if}>角膜科</option>
          <option value="1615" {if isset($ke_shi) && $ke_shi eq 1615} selected="selected"{/if}>青光眼</option>
          <option value="1616" {if isset($ke_shi) && $ke_shi eq 1616} selected="selected"{/if}>白内障</option>
          <option value="1617" {if isset($ke_shi) && $ke_shi eq 1617} selected="selected"{/if}>眼外科</option>
          <option value="1618" {if isset($ke_shi) && $ke_shi eq 1618} selected="selected"{/if}>眼眶及肿瘤</option>
          <option value="1619" {if isset($ke_shi) && $ke_shi eq 1619} selected="selected"{/if}>屈光</option>
          <option value="1620" {if isset($ke_shi) && $ke_shi eq 1620} selected="selected"{/if}>眼整形</option>
          <option value="1621" {if isset($ke_shi) && $ke_shi eq 1621} selected="selected"{/if}>中医眼科</option>
          <option value="1710" {if isset($ke_shi) && $ke_shi eq 1710} selected="selected"{/if}>口腔科</option>
          <option value="1711" {if isset($ke_shi) && $ke_shi eq 1711} selected="selected"{/if}>颌面外科</option>
          <option value="1712" {if isset($ke_shi) && $ke_shi eq 1712} selected="selected"{/if}>正畸科</option>
          <option value="1713" {if isset($ke_shi) && $ke_shi eq 1713} selected="selected"{/if}>牙体牙髓科</option>
          <option value="1714" {if isset($ke_shi) && $ke_shi eq 1714} selected="selected"{/if}>牙周科</option>
          <option value="1715" {if isset($ke_shi) && $ke_shi eq 1715} selected="selected"{/if}>口腔黏膜科</option>
          <option value="1716" {if isset($ke_shi) && $ke_shi eq 1716} selected="selected"{/if}>儿童口腔科</option>
          <option value="1717" {if isset($ke_shi) && $ke_shi eq 1717} selected="selected"{/if}>口腔修复科</option>
          <option value="1718" {if isset($ke_shi) && $ke_shi eq 1718} selected="selected"{/if}>种植科</option>
          <option value="1719" {if isset($ke_shi) && $ke_shi eq 1719} selected="selected"{/if}>口腔预防科</option>
          <option value="1720" {if isset($ke_shi) && $ke_shi eq 1720} selected="selected"{/if}>综合科</option>
          <option value="1721" {if isset($ke_shi) && $ke_shi eq 1721} selected="selected"{/if}>口腔特诊科</option>
          <option value="1722" {if isset($ke_shi) && $ke_shi eq 1722} selected="selected"{/if}>老年口腔病科</option>
          <option value="1723" {if isset($ke_shi) && $ke_shi eq 1723} selected="selected"{/if}>口腔急诊科</option>
          <option value="1810" {if isset($ke_shi) && $ke_shi eq 1810} selected="selected"{/if}>耳科</option>
          <option value="1811" {if isset($ke_shi) && $ke_shi eq 1811} selected="selected"{/if}>鼻科</option>
          <option value="1812" {if isset($ke_shi) && $ke_shi eq 1812} selected="selected"{/if}>咽喉科</option>
          <option value="1813" {if isset($ke_shi) && $ke_shi eq 1813} selected="selected"{/if}>头颈外科</option>
          <option value="1814" {if isset($ke_shi) && $ke_shi eq 1814} selected="selected"{/if}>耳鼻喉科</option>
          <option value="1910" {if isset($ke_shi) && $ke_shi eq 1910} selected="selected"{/if}>肿瘤内科</option>
          <option value="1911" {if isset($ke_shi) && $ke_shi eq 1911} selected="selected"{/if}>肿瘤外科</option>
          <option value="1912" {if isset($ke_shi) && $ke_shi eq 1912} selected="selected"{/if}>肿瘤妇科</option>
          <option value="1913" {if isset($ke_shi) && $ke_shi eq 1913} selected="selected"{/if}>放疗科</option>
          <option value="1914" {if isset($ke_shi) && $ke_shi eq 1914} selected="selected"{/if}>骨肿瘤科</option>
          <option value="1915" {if isset($ke_shi) && $ke_shi eq 1915} selected="selected"{/if}>肿瘤康复科</option>
          <option value="1916" {if isset($ke_shi) && $ke_shi eq 1916} selected="selected"{/if}>肿瘤综合科</option>
          <option value="2010" {if isset($ke_shi) && $ke_shi eq 2010} selected="selected"{/if}>皮肤科</option>
          <option value="2011" {if isset($ke_shi) && $ke_shi eq 2011} selected="selected"{/if}>性病科</option>
          <option value="2110" {if isset($ke_shi) && $ke_shi eq 2110} selected="selected"{/if}>男科</option>
          <option value="2210" {if isset($ke_shi) && $ke_shi eq 2210} selected="selected"{/if}>皮肤美容</option>
          <option value="2310" {if isset($ke_shi) && $ke_shi eq 2310} selected="selected"{/if}>烧伤科</option>
          <option value="2410" {if isset($ke_shi) && $ke_shi eq 2410} selected="selected"{/if}>精神科</option>
          <option value="2411" {if isset($ke_shi) && $ke_shi eq 2411} selected="selected"{/if}>心理咨询科</option>
          <option value="2412" {if isset($ke_shi) && $ke_shi eq 2412} selected="selected"{/if}>司法鉴定科</option>
          <option value="2413" {if isset($ke_shi) && $ke_shi eq 2413} selected="selected"{/if}>药物依赖科</option>
          <option value="2510" {if isset($ke_shi) && $ke_shi eq 2510} selected="selected"{/if}>中医妇产科</option>
          <option value="2511" {if isset($ke_shi) && $ke_shi eq 2511} selected="selected"{/if}>中医儿科</option>
          <option value="2512" {if isset($ke_shi) && $ke_shi eq 2512} selected="selected"{/if}>中医骨科</option>
          <option value="2513" {if isset($ke_shi) && $ke_shi eq 2513} selected="selected"{/if}>中医皮肤科</option>
          <option value="2514" {if isset($ke_shi) && $ke_shi eq 2514} selected="selected"{/if}>中医内分泌</option>
          <option value="2515" {if isset($ke_shi) && $ke_shi eq 2515} selected="selected"{/if}>中医消化科</option>
          <option value="2516" {if isset($ke_shi) && $ke_shi eq 2516} selected="selected"{/if}>中医呼吸科</option>
          <option value="2517" {if isset($ke_shi) && $ke_shi eq 2517} selected="selected"{/if}>中医肾病内科</option>
          <option value="2518" {if isset($ke_shi) && $ke_shi eq 2518} selected="selected"{/if}>中医免疫科</option>
          <option value="2519" {if isset($ke_shi) && $ke_shi eq 2519} selected="selected"{/if}>中医心内科</option>
          <option value="2520" {if isset($ke_shi) && $ke_shi eq 2520} selected="selected"{/if}>中医神经内科</option>
          <option value="2521" {if isset($ke_shi) && $ke_shi eq 2521} selected="selected"{/if}>中医肿瘤科</option>
          <option value="2522" {if isset($ke_shi) && $ke_shi eq 2522} selected="selected"{/if}>中医血液科</option>
          <option value="2523" {if isset($ke_shi) && $ke_shi eq 2523} selected="selected"{/if}>中医感染内科</option>
          <option value="2524" {if isset($ke_shi) && $ke_shi eq 2524} selected="selected"{/if}>中医肝病科</option>
          <option value="2525" {if isset($ke_shi) && $ke_shi eq 2525} selected="selected"{/if}>中医五官科</option>
          <option value="2526" {if isset($ke_shi) && $ke_shi eq 2526} selected="selected"{/if}>中医男科</option>
          <option value="2527" {if isset($ke_shi) && $ke_shi eq 2527} selected="selected"{/if}>针灸科</option>
          <option value="2528" {if isset($ke_shi) && $ke_shi eq 2528} selected="selected"{/if}>中医按摩科</option>
          <option value="2529" {if isset($ke_shi) && $ke_shi eq 2529} selected="selected"{/if}>中医外科</option>
          <option value="2530" {if isset($ke_shi) && $ke_shi eq 2530} selected="selected"{/if}>中医乳腺外科</option>
          <option value="2531" {if isset($ke_shi) && $ke_shi eq 2531} selected="selected"{/if}>中医肝肠科</option>
          <option value="2532" {if isset($ke_shi) && $ke_shi eq 2532} selected="selected"{/if}>中医老年病科</option>
          <option value="2533" {if isset($ke_shi) && $ke_shi eq 2533} selected="selected"{/if}>中医理疗科</option>
          <option value="2534" {if isset($ke_shi) && $ke_shi eq 2534} selected="selected"{/if}>中医正骨科</option>
          <option value="2535" {if isset($ke_shi) && $ke_shi eq 2535} selected="selected"{/if}>中医科</option>
          <option value="2610" {if isset($ke_shi) && $ke_shi eq 2610} selected="selected"{/if}>中西医结合科</option>
          <option value="2710" {if isset($ke_shi) && $ke_shi eq 2710} selected="selected"{/if}>肝病科</option>
          <option value="2711" {if isset($ke_shi) && $ke_shi eq 2711} selected="selected"{/if}>传染科</option>
          <option value="2712" {if isset($ke_shi) && $ke_shi eq 2712} selected="selected"{/if}>艾滋病科</option>
          <option value="2713" {if isset($ke_shi) && $ke_shi eq 2713} selected="selected"{/if}>传染危重室</option>
          <option value="2810" {if isset($ke_shi) && $ke_shi eq 2810} selected="selected"{/if}>结核病科</option>
          <option value="2910" {if isset($ke_shi) && $ke_shi eq 2910} selected="selected"{/if}>介入医学科</option>
          <option value="3010" {if isset($ke_shi) && $ke_shi eq 3010} selected="selected"{/if}>康复科</option>
          <option value="3011" {if isset($ke_shi) && $ke_shi eq 3011} selected="selected"{/if}>理疗科</option>
          <option value="3110" {if isset($ke_shi) && $ke_shi eq 3110} selected="selected"{/if}>运动医学科</option>
          <option value="3210" {if isset($ke_shi) && $ke_shi eq 3210} selected="selected"{/if}>疼痛科</option>
          <option value="3011" {if isset($ke_shi) && $ke_shi eq 3011} selected="selected"{/if}>麻醉科</option>
          <option value="3310" {if isset($ke_shi) && $ke_shi eq 3310} selected="selected"{/if}>职业病科</option>
          <option value="3410" {if isset($ke_shi) && $ke_shi eq 3410} selected="selected"{/if}>地方病科</option>
          <option value="3510" {if isset($ke_shi) && $ke_shi eq 3510} selected="selected"{/if}>营养科</option>
          <option value="3610" {if isset($ke_shi) && $ke_shi eq 3610} selected="selected"{/if}>医学影像科</option>
          <option value="3710" {if isset($ke_shi) && $ke_shi eq 3710} selected="selected"{/if}>病理科</option>
          <option value="3810" {if isset($ke_shi) && $ke_shi eq 3810} selected="selected"{/if}>急诊科</option>
          <option value="3811" {if isset($ke_shi) && $ke_shi eq 3811} selected="selected"{/if}>预防保健科</option>
          <option value="3812" {if isset($ke_shi) && $ke_shi eq 3812} selected="selected"{/if}>药剂科</option>
          <option value="3813" {if isset($ke_shi) && $ke_shi eq 3813} selected="selected"{/if}>体检科</option>
          <option value="3814" {if isset($ke_shi) && $ke_shi eq 3814} selected="selected"{/if}>血透中心</option>
          <option value="3815" {if isset($ke_shi) && $ke_shi eq 3815} selected="selected"{/if}>碎石中心</option>
          <option value="3816" {if isset($ke_shi) && $ke_shi eq 3816} selected="selected"{/if}>ICU</option>
          <option value="3817" {if isset($ke_shi) && $ke_shi eq 3817} selected="selected"{/if}>护理咨询</option>
          </select>
          <p class='must_p'>*</p></td>
        </tr>
        <tr><td class="form_label">职称</td>
          <td>
          <select style="width:100px;display:inline;float:left;" id='tec_title' name='tec_title'>
          <option value=""  >--技术职称--</option>
          <option value="1" {if isset($tec_title) && $tec_title eq 1} selected="selected"{/if}>主任医师</option>
          <option value="2" {if isset($tec_title) && $tec_title eq 2} selected="selected"{/if}>副主任医师</option>
          <option value="3" {if isset($tec_title) && $tec_title eq 3} selected="selected"{/if}>主治医师</option>
          <option value="4" {if isset($tec_title) && $tec_title eq 4} selected="selected"{/if}>住院医师</option>
          </select> <p class='must_p'>*</p>
          <select style="width:100px;margin-left:20px;" id=aca_title' name='aca_title'>
          <option value=""  >--学术职称--</option>
          <option value="1" {if isset($aca_title) && $aca_title eq 1} selected="selected"{/if}>教授</option>
          <option value="2" {if isset($aca_title) && $aca_title eq 2} selected="selected"{/if}>副教授</option>
          </select> <p class='must_p'>*</p>
          </td>
        </tr>
        <tr>
          <td class="form_label">擅长</td>
          <td><textarea style="margin:5px 0px 5px 0px;padding:5px;width:310px;resize:none;" rows='6' cols='20' maxlength='300' name='expert_in'>{if isset($expert_in)}{$expert_in|escape}{/if}</textarea></td>
        </tr>
        <tr>
          <td class="form_label">医生照片</td>
          <td class="upload"><input style='font-size:10px;color:#C00;' name='txt1' type="text" disabled="disabled" value='不能超2M (限定格式：jpg,png)'/><input type="button" value="浏览"/><input type="file" name='photo' onchange="txt1.value=this.value;"/></td>
        {if !empty($icon_url)}
          <td style="padding-left:10px;"><a href='{$icon_url}' target='_blank'><img src='{$icon_url}' height="120" width="120"</img></a></td>
        {/if}
        </tr>
      </table>
      <hr style="margin-top:20px;height:1px;border:0;background-color:#FF9900;"/>
      <div class="submit">
        <input style="width:80px;margin-right:40px;" type='submit' value={if $new_one eq 1}'提交'{else}'修改'{/if} {if isset($readonly) && $readonly eq 1}disabled="disabled"{/if} }/>
        <input style="width:80px;" type='reset' value='取消' />
      </div>
    </form>
  </div>
</div>
