<script type="text/javascript">
function loadFun() {
  var ulList = document.getElementsByTagName("ul");
  for (var i = 0; i < ulList.length; i++) {
    var liNodes = ulList[i].childNodes;
    for (var j = 0; j < liNodes.length; j++) {
      if (liNodes[j].tagName == 'LI') {
        liNodes[j].onmouseover=function() {
          this.className+=(this.className.length>0? " ": "") + "sfhover";
        }
        liNodes[j].onMouseDown=function() {
          this.className+=(this.className.length>0? " ": "") + "sfhover";
        }
        liNodes[j].onMouseUp=function() {
          this.className+=(this.className.length>0? " ": "") + "sfhover";
        }
        liNodes[j].onmouseout=function() {
          this.className=this.className.replace(new RegExp("( ?|^)sfhover\\b"), "");
        }
      }
    }
  }
}
window.onload = loadFun;
</script>

<div class="query" style="margin:8px;width: 829px \9;">
  <div style="width:100%;height:60px;margin-bottom:8px;background:#FFC78E;text-align:center;">
    {if ! isset($my_doctor) }
    <form method="get" action='view/doctor_query.php'>
    {else}
    <form method="get" action='view/my_doctor.php'>
    {/if}
    <input type='hidden' name='kw' value=''/>
      <input style="width:90px;padding-left:5px;" type='text' id='q_name' name='name' value='{if isset($name)}{$name}{else}医生姓名{/if}' onfocus='onQueryInputFocus(this,"医生姓名")' onblur='onQueryInputBlur(this,"医生姓名")'/>
      <input style="width:100px;padding-left:5px;" type='text' id='q_phone_num' name='phone_num' value='{if isset($phone_num)}{$phone_num}{else}电话{/if}' onchange='checkPhoneNum(this)' onfocus='onQueryInputFocus(this,"电话")' onblur='onQueryInputBlur(this,"电话")'/>
      <select style="width:100px;padding-left:2px;" id='q_classify' name='classify'>
        <option value=""  >--医生类别--</option>
        <option value="1" {if isset($classify) && $classify eq 1} selected="selected"{/if}>普通医生</option>
        <option value="2" {if isset($classify) && $classify eq 2} selected="selected"{/if}>医学泰斗</option>
      </select>
      {if ! isset($my_doctor) }
      <input style="width:100px;padding-left:5px;" type='text' id='q_employe_id' name='employe_id' value='{if isset($employe_id)}{$employe_id}{else}录入者ID{/if}' onfocus='onQueryInputFocus(this,"录入者ID")' onblur='onQueryInputBlur(this,"录入者ID")'/>
      {/if}
      <input style='width:60px;margin-left:30px;' type='submit' value='查询' onclick='return clrDoctorQueryDefaultVal();'/>
    </form>
  </div>
  <table style="width:100%;table-layout:fixed;">
    <tr style="font-weight:bold;">
      <th style="width:12%;height:44px;background:#E9893A;">医生姓名</th>
      <th style="width:13%;background:#E9893A;">电话</th>
      <th style="width:12%;background:#E9893A;">类别</th>
      <th style="width:18%;background:#E9893A;">职称</th>
      <th style="width:20%;background:#E9893A;">所属医院</th>
      <th style="width:15%;background:#E9893A;">科室</th>
      <th style="width:10%;background:#E9893A;">操作</th>
    </tr>
    {foreach from=$doctor_rows item=row}
      <tr>
        <td style="height:36px;"><a href='view/doctor_modify.php?id={$row.id}'>{$row.name}</a></td>
        <td>{$row.phone_num}</td>
        <td>
          {if $row.classify eq 1}普通医生
          {elseif $row.classify eq 2}医学泰斗
          {else}未知
          {/if}
        </td>
        <td>{if $row.tec_title eq 1}主任医师,
{elseif $row.tec_title eq 2}副主任医师,
{elseif $row.tec_title eq 3}主治医师,
{elseif $row.tec_title eq 4}住院医师,
{else}未填
{/if}
{if $row.aca_title eq 1}教授
{elseif $row.aca_title eq 2}副教授
{else}未填
{/if}
</td>
        <td>{$row.hospital}</td>
        <td>
          {if $row.ke_shi eq 1010}心血管内科
          {elseif $row.ke_shi eq 1011}神经内科
          {elseif $row.ke_shi eq 1012}消化内科
          {elseif $row.ke_shi eq 1013}内分泌科
          {elseif $row.ke_shi eq 1014}免疫科
          {elseif $row.ke_shi eq 1015}呼吸科
          {elseif $row.ke_shi eq 1016}肾病内科
          {elseif $row.ke_shi eq 1017}血液科
          {elseif $row.ke_shi eq 1018}感染内科
          {elseif $row.ke_shi eq 1019}过敏反应科
          {elseif $row.ke_shi eq 1020}老年病科
          {elseif $row.ke_shi eq 1021}疼痛诊疗科
          {elseif $row.ke_shi eq 1022}高压氧科
          {elseif $row.ke_shi eq 1023}普通科
          {elseif $row.ke_shi eq 1110}神经外科
          {elseif $row.ke_shi eq 1111}心血管外科
          {elseif $row.ke_shi eq 1112}腹部外科
          {elseif $row.ke_shi eq 1113}胸外科
          {elseif $row.ke_shi eq 1114}整形科
          {elseif $row.ke_shi eq 1115}乳腺外科
          {elseif $row.ke_shi eq 1116}泌尿外科
          {elseif $row.ke_shi eq 1117}肝胆外科
          {elseif $row.ke_shi eq 1118}肛肠科
          {elseif $row.ke_shi eq 1119}血管外科
          {elseif $row.ke_shi eq 1120}功能神经外科
          {elseif $row.ke_shi eq 1121}微创外科
          {elseif $row.ke_shi eq 1122}普外科
          {elseif $row.ke_shi eq 1210}妇科
          {elseif $row.ke_shi eq 1211}产科
          {elseif $row.ke_shi eq 1212}妇科内分泌
          {elseif $row.ke_shi eq 1213}妇泌尿科
          {elseif $row.ke_shi eq 1214}产前诊断科
          {elseif $row.ke_shi eq 1215}遗传咨询科
          {elseif $row.ke_shi eq 1216}计划生育科
          {elseif $row.ke_shi eq 1217}妇产科
          {elseif $row.ke_shi eq 1310}生殖中心
          {elseif $row.ke_shi eq 1410}儿科
          {elseif $row.ke_shi eq 1411}新生儿科
          {elseif $row.ke_shi eq 1412}小儿呼吸科
          {elseif $row.ke_shi eq 1413}小儿消化科
          {elseif $row.ke_shi eq 1414}小儿营养保健科
          {elseif $row.ke_shi eq 1415}小儿神经内科
          {elseif $row.ke_shi eq 1416}小儿心内科
          {elseif $row.ke_shi eq 1417}小儿肾内科
          {elseif $row.ke_shi eq 1418}小儿血液科
          {elseif $row.ke_shi eq 1419}小儿感染科
          {elseif $row.ke_shi eq 1420}小儿精神科
          {elseif $row.ke_shi eq 1421}小儿妇科
          {elseif $row.ke_shi eq 1422}小儿外科
          {elseif $row.ke_shi eq 1423}小儿心外科
          {elseif $row.ke_shi eq 1424}小儿胸外科
          {elseif $row.ke_shi eq 1425}小儿骨科
          {elseif $row.ke_shi eq 1426}小儿泌尿科
          {elseif $row.ke_shi eq 1427}小儿神经外科
          {elseif $row.ke_shi eq 1428}小儿整形科
          {elseif $row.ke_shi eq 1429}小儿康复科
          {elseif $row.ke_shi eq 1430}小儿急诊科
          {elseif $row.ke_shi eq 1510}骨科
          {elseif $row.ke_shi eq 1511}脊柱外科
          {elseif $row.ke_shi eq 1512}手外科
          {elseif $row.ke_shi eq 1513}创伤骨科
          {elseif $row.ke_shi eq 1514}骨关节科
          {elseif $row.ke_shi eq 1515}矫形骨科
          {elseif $row.ke_shi eq 1516}骨肿瘤科
          {elseif $row.ke_shi eq 1517}骨质疏松科
          {elseif $row.ke_shi eq 1518}足踝外科
          {elseif $row.ke_shi eq 1519}中西医结合正骨科
          {elseif $row.ke_shi eq 1610}眼肌
          {elseif $row.ke_shi eq 1611}眼科
          {elseif $row.ke_shi eq 1612}小儿眼科
          {elseif $row.ke_shi eq 1613}眼底
          {elseif $row.ke_shi eq 1614}角膜科
          {elseif $row.ke_shi eq 1615}青光眼
          {elseif $row.ke_shi eq 1616}白内障
          {elseif $row.ke_shi eq 1617}眼外科
          {elseif $row.ke_shi eq 1618}眼眶及肿瘤
          {elseif $row.ke_shi eq 1619}屈光
          {elseif $row.ke_shi eq 1620}眼整形
          {elseif $row.ke_shi eq 1621}中医眼科
          {elseif $row.ke_shi eq 1710}口腔科
          {elseif $row.ke_shi eq 1711}颌面外科
          {elseif $row.ke_shi eq 1712}正畸科
          {elseif $row.ke_shi eq 1713}牙体牙髓科
          {elseif $row.ke_shi eq 1714}牙周科
          {elseif $row.ke_shi eq 1715}口腔黏膜科
          {elseif $row.ke_shi eq 1716}儿童口腔科
          {elseif $row.ke_shi eq 1717}口腔修复科
          {elseif $row.ke_shi eq 1718}种植科
          {elseif $row.ke_shi eq 1719}口腔预防科
          {elseif $row.ke_shi eq 1720}综合科
          {elseif $row.ke_shi eq 1721}口腔特诊科
          {elseif $row.ke_shi eq 1722}老年口腔病科
          {elseif $row.ke_shi eq 1723}口腔急诊科
          {elseif $row.ke_shi eq 1810}耳科
          {elseif $row.ke_shi eq 1811}鼻科
          {elseif $row.ke_shi eq 1812}咽喉科
          {elseif $row.ke_shi eq 1813}头颈外科
          {elseif $row.ke_shi eq 1814}耳鼻喉科
          {elseif $row.ke_shi eq 1910}肿瘤内科
          {elseif $row.ke_shi eq 1911}肿瘤外科
          {elseif $row.ke_shi eq 1912}肿瘤妇科
          {elseif $row.ke_shi eq 1913}放疗科
          {elseif $row.ke_shi eq 1914}骨肿瘤科
          {elseif $row.ke_shi eq 1915}肿瘤康复科
          {elseif $row.ke_shi eq 1916}肿瘤综合科
          {elseif $row.ke_shi eq 2010}皮肤科
          {elseif $row.ke_shi eq 2011}性病科
          {elseif $row.ke_shi eq 2110}男科
          {elseif $row.ke_shi eq 2210}皮肤美容
          {elseif $row.ke_shi eq 2310}烧伤科
          {elseif $row.ke_shi eq 2410}精神科
          {elseif $row.ke_shi eq 2411}心理咨询科
          {elseif $row.ke_shi eq 2412}司法鉴定科
          {elseif $row.ke_shi eq 2413}药物依赖科
          {elseif $row.ke_shi eq 2510}中医妇产科
          {elseif $row.ke_shi eq 2511}中医儿科
          {elseif $row.ke_shi eq 2512}中医骨科
          {elseif $row.ke_shi eq 2513}中医皮肤科
          {elseif $row.ke_shi eq 2514}中医内分泌
          {elseif $row.ke_shi eq 2515}中医消化科
          {elseif $row.ke_shi eq 2516}中医呼吸科
          {elseif $row.ke_shi eq 2517}中医肾病内科
          {elseif $row.ke_shi eq 2518}中医免疫科
          {elseif $row.ke_shi eq 2519}中医心内科
          {elseif $row.ke_shi eq 2520}中医神经内科
          {elseif $row.ke_shi eq 2521}中医肿瘤科
          {elseif $row.ke_shi eq 2522}中医血液科
          {elseif $row.ke_shi eq 2523}中医感染内科
          {elseif $row.ke_shi eq 2524}中医肝病科
          {elseif $row.ke_shi eq 2525}中医五官科
          {elseif $row.ke_shi eq 2526}中医男科
          {elseif $row.ke_shi eq 2527}针灸科
          {elseif $row.ke_shi eq 2528}中医按摩科
          {elseif $row.ke_shi eq 2529}中医外科
          {elseif $row.ke_shi eq 2530}中医乳腺外科
          {elseif $row.ke_shi eq 2531}中医肝肠科
          {elseif $row.ke_shi eq 2532}中医老年病科
          {elseif $row.ke_shi eq 2533}中医理疗科
          {elseif $row.ke_shi eq 2534}中医正骨科
          {elseif $row.ke_shi eq 2535}中医科
          {elseif $row.ke_shi eq 2610}中西医结合科
          {elseif $row.ke_shi eq 2710}肝病科
          {elseif $row.ke_shi eq 2711}传染科
          {elseif $row.ke_shi eq 2712}艾滋病科
          {elseif $row.ke_shi eq 2713}传染危重室
          {elseif $row.ke_shi eq 2810}结核病科
          {elseif $row.ke_shi eq 2910}介入医学科
          {elseif $row.ke_shi eq 3010}康复科
          {elseif $row.ke_shi eq 3011}理疗科
          {elseif $row.ke_shi eq 3110}运动医学科
          {elseif $row.ke_shi eq 3210}疼痛科
          {elseif $row.ke_shi eq 3011}麻醉科
          {elseif $row.ke_shi eq 3310}职业病科
          {elseif $row.ke_shi eq 3410}地方病科
          {elseif $row.ke_shi eq 3510}营养科
          {elseif $row.ke_shi eq 3610}医学影像科
          {elseif $row.ke_shi eq 3710}病理科
          {elseif $row.ke_shi eq 3810}急诊科
          {elseif $row.ke_shi eq 3811}预防保健科
          {elseif $row.ke_shi eq 3812}药剂科
          {elseif $row.ke_shi eq 3813}体检科
          {elseif $row.ke_shi eq 3814}血透中心
          {elseif $row.ke_shi eq 3815}碎石中心
          {elseif $row.ke_shi eq 3816}ICU
          {elseif $row.ke_shi eq 3817}护理咨询
          {else}未知
          {/if}
        </td>
        <td>
        <ul class="doctor_opt_menu">
        <li>
        <!-- <a href="view/doctor_modify.php?id={$row.id}">详细</a> -->
        <a href="#" onclick="return false;">操作</a>  
          <ul id="opt_menu">
            <li><a href="view/doctor_modify.php?id={$row.id}">查看详情</a></li>
            <li><a href="view/doctor_article_list.php?id={$row.id}">文章列表</a></li>
            <li><a href="view/add_doctor_article.php?id={$row.id}" target="_blank">添加文章</a></li>
            <li><a href="view/doctor_video_list.php?id={$row.id}">视频列表</a></li>
            <li><a href="view/add_doctor_video.php?id={$row.id}">添加视频</a></li>
            {if $row.classify eq 2}
            <li><a href="view/doctor_entering.php?master_id={$row.id}">添加下属</a></li>
            <li><a href="view/doctor_xiashu.php?master_id={$row.id}">下属列表</a></li>
            {/if}
          </ul>  
          </li>
        </ul>
        </td>
      </tr>
    {/foreach}
  </table>
  <div class="page_v">
    <p style="display:inline">共{if !isset($total_num)}0{else}{$total_num}{/if}名</p>
    {if ! isset($my_doctor) }
      {if !isset($page) || $page eq 1}上一页{else}<a href="view/doctor_query.php?p={$page-1}">上一页</a>{/if}
      {if !isset($page) || $page ge $pages}下一页{else}<a href="view/doctor_query.php?p={$page+1}">下一页</a>{/if}
    {else}
      {if !isset($page) || $page eq 1}上一页{else}<a href="view/my_doctor.php?p={$page-1}">上一页</a>{/if}
      {if !isset($page) || $page ge $pages}下一页{else}<a href="view/my_doctor.php?p={$page+1}">下一页</a>{/if}
    {/if}
  </div>
</div>
