<div style="margin:35px 130px 0 130px;">
  <div>
    <p style="font-size:23px;display:inline">{$doctor_info_title}</p>
    {if isset($master_name)}
    <p style="padding-left:15px;font-size:16px;display:inline">所属专家--<a href='view/doctor_modify.php?id={$master_id}'><font color="#FF0000">{$master_name}</font></a></p>
    {/if}
    {if $new_one ne 1}
    <p style="font-size:16px;line-height:38px;float:right;">录入时间：{$c_time|date_format:"%Y-%m-%d %H:%M:%S"}</p>
    {/if}
    <hr style="height:2px;border:0;background-color:#FF9900;"/>
  </div>
  <div class="input_form">
    <form action={if $new_one eq 1}"view/doctor_entering.php"{else}"view/doctor_modify.php"{/if} method="post" enctype="multipart/form-data" onsubmit="return submitDoctorValidate()">
      <table>
        <tr><td><input type='hidden' name='master_id' value='{if isset($master_id)}{$master_id}{/if}'/></td></tr>
        <tr><td><input type='hidden' name='id' value='{if isset($id)}{$id}{/if}'/></td></tr>
        <tr>
          <td class="form_label">姓名</td>
          <td><input style="width:100px;padding-left:2px;" id='name' type='text' name='name' value='{if isset($name)}{$name}{/if}' onchange='checkDoctorName(this)'/><p class='must_p'>*</p></td>
        </tr>
        <tr>
          <td class="form_label">手机</td>
          <td><input style="width:150px;padding-left:2px;" id='phone_num' type='text' name='phone_num' value='{if isset($phone_num)}{$phone_num}{/if}' onchange='checkPhoneNum(this)'/><p class='must_p'>*</p></td>
        </tr>
        <tr><td class="form_label">性别</td>
          <td>
          <select style="width:60px;" id='sex' name='sex'>
          <option value="" >选择</option>
          <option value="0" {if isset($sex) && $sex eq 0} selected="selected"{/if}>女</option>
          <option value="1" {if isset($sex) && $sex eq 1} selected="selected"{/if}>男</option>
          </select><p class='must_p'>*</p>
          </td>
        </tr>
      </table>
      <hr style="margin-top:20px;height:1px;border:0;background-color:#FF9900;"/>
      <table>
        <tr><td class="form_label">医生类别</td>
          <td>
          <select style="display:inline;width:100px;" id='classify' name='classify'>
          <option value=""  >--医生类别--</option>
          <option value="1" {if isset($classify) && $classify eq 1} selected="selected"{/if}>普通医生</option>
          <option value="2" {if isset($classify) && $classify eq 2} selected="selected"{/if}>医学泰斗</option>
          </select>
          <p class='must_p' style='font-size:14px;'>* &nbsp;(内部定义类别)</p></td>
        </tr>
        <tr>
          <td class="form_label">所属医院</td>
          <td><input style="width:180px;padding-left:2px;float:left;" id='hospital' type='text' name='hospital' value='{if isset($hospital)}{$hospital|escape}{/if}' onchange='checkHospital(this)'/><p class='must_p'>*</p>
          <select style="width:95px;margin-left:10px;display:inline;" id=adm_title' name='adm_title'>
          <option value="" >--行政职称--</option>
          <option value="1" {if isset($adm_title) && $adm_title eq 1} selected="selected"{/if}>院长</option>
          <option value="2" {if isset($adm_title) && $adm_title eq 2} selected="selected"{/if}>副院长</option>
          </td>
        </tr>
        <tr><td class="form_label">科室</td>
          <td>
          <select style="display:inline;float:left;width:100px;" id='ke_shi' name='ke_shi'>
          <option value=""  >--选择科室-</option>
          <option value="1" {if isset($ke_shi) && $ke_shi eq 1} selected="selected"{/if}>内科-风湿</option>
          <option value="2" {if isset($ke_shi) && $ke_shi eq 2} selected="selected"{/if}>外科-泌尿</option>
          <option value="3" {if isset($ke_shi) && $ke_shi eq 3} selected="selected"{/if}>骨科-骨科</option>
          <option value="4" {if isset($ke_shi) && $ke_shi eq 4} selected="selected"{/if}>妇科-产科</option>
          </select>
          <p class='must_p'>*</p></td>
        </tr>
        <tr><td class="form_label">职称</td>
          <td>
          <select style="width:100px;display:inline;float:left;" id='tec_title' name='tec_title'>
          <option value=""  >--技术职称--</option>
          <option value="1" {if isset($tec_title) && $tec_title eq 1} selected="selected"{/if}>主任医师</option>
          <option value="2" {if isset($tec_title) && $tec_title eq 2} selected="selected"{/if}>副主任医师</option>
          <option value="3" {if isset($tec_title) && $tec_title eq 3} selected="selected"{/if}>主治医师</option>
          <option value="4" {if isset($tec_title) && $tec_title eq 4} selected="selected"{/if}>住院医师</option>
          </select> <p class='must_p'>*</p>
          <select style="width:100px;margin-left:20px;" id=aca_title' name='aca_title'>
          <option value=""  >--学术职称--</option>
          <option value="1" {if isset($aca_title) && $aca_title eq 1} selected="selected"{/if}>教授</option>
          <option value="2" {if isset($aca_title) && $aca_title eq 2} selected="selected"{/if}>副教授</option>
          </select> <p class='must_p'>*</p>
          </td>
        </tr>
        <tr>
          <td class="form_label">擅长</td>
          <td><textarea style="margin:5px 0px 5px 0px;padding:5px;width:310px;resize:none;" rows='6' cols='20' maxlength='300' name='expert_in'>{if isset($expert_in)}{$expert_in|escape}{/if}</textarea></td>
        </tr>
        <tr>
          <td class="form_label">医生照片</td>
          <td class="upload"><input style='font-size:10px;color:#C00;' name='txt1' type="text" disabled="disabled" value='不能超2M (限定格式：jpg,png)'/><input type="button" value="浏览"/><input type="file" name='photo' onchange="txt1.value=this.value;"/></td>
        {if !empty($icon_url)}
          <td style="padding-left:10px;"><a href='{$icon_url}' target='_blank'><img src='{$icon_url}' height="150" width="120"</img></a></td>
        {/if}
        </tr>
      </table>
      <hr style="margin-top:20px;height:1px;border:0;background-color:#FF9900;"/>
      <div class="submit">
        <input style="width:80px;margin-right:40px;" type='submit' value={if $new_one eq 1}'提交'{else}'修改'{/if} {if isset($readonly) && $readonly eq 1}disabled="disabled"{/if} }/>
        <input style="width:80px;" type='reset' value='取消' />
      </div>
    </form>
  </div>
</div>
