<div style="margin:50px 150px 0 150px;">
  <div>
    <p style="font-size:23px;display:inline">{$my_info_title}</p>
    <hr style="height:2px;border:0;background-color:#FF9900;"/>
  </div>
  <center>
  <div class="input_form">
    <form action="view/my_settings.php" method="post">
      <table>
        <tr>
          <td class="form_label">姓名</td>
          <td><input style="width:150px;" type='text' name='name' value='{$name}' disabled/></td>
        </tr>
        <tr>
          <td class="form_label">原密码</td>
          <td><input style="width:150px;" type='password' name='passwd' /></td>
        </tr>
        <tr>
          <td class="form_label">新密码</td>
          <td><input style="width:150px;" type='password' name='m_passwd' /></td>
        </tr>
        <tr>
          <td class="form_label">请确认</td>
          <td><input style="width:150px;" type='password' name='c_passwd' /></td>
        </tr>
      </table>
      <hr style="margin-top:20px;height:1px;border:0;background-color:#FF9900;"/>
      <div class="submit">
        <input style="width:80px;margin-right:40px;" type='submit' value='提交'/>
        <input style="width:80px;" type='reset' value='取消'/>
        {if $err_msg neq ''} <p>{$err_msg}</p>{/if}
      </div>
    </form>
  </div>
  </center>
</div>
